<div class="share" style="width: 100%;">
  <img src="/img/zan.jpg" alt="你的赞力是我前进的动力" style="margin: auto; display: block; width:300px;"/>

  <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;">客官，如果对您有用赞助此文哦！</div>
  
</div>
