<div class="share" style="width: 100%;">
  <img src="/qr.jpg" alt="Running Geek" style="margin: auto; display: block;"/>

  <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;">老铁们，扫码加微信</div>
  
</div>
