<div class="share" style="width: 100%;">
  <img src="/img/qr.jpg" alt="江边望海" style="margin: auto; display: block; width:300px;"/>

  <div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;">老铁们，扫码加微信</div>
  
</div>
